<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSV.Properties.Settings.QLDSVConnectionString" connectionString="Data Source=DESKTOP-8L2GU0D\PHAMNGOCDANH;Initial Catalog=QLDSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLDSV.Properties.Settings.QLDSVConnectionString1"
            connectionString="Data Source=DESKTOP-8L2GU0D\PHAMNGOCDANH1;Initial Catalog=QLDSV;User ID=Hieu;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>